.item {
	display: flex;
	align-items: center;
}

.textInput {
	padding: 4px;
	width: 300px;
	border: unset;
}

.textInput:focus {
	border: unset;
}

.checkBox {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.deleteButton {
	width: 60px;
	height: 25px;
	cursor: pointer;
	background-color: #ff6962;
	border-radius: 4px;
	border: unset;
	color: #fff;
	margin-left: 5px;
}
